<div id="navigation">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="block_logo" (click)="onClic(false)">
      <img src="/assets/img/logo_omnitube.png" style="width:60px">
      <div id="logo_part">
      <label class="logo_name" value="Omnitube">Omnitube</label>
      <div id="subtitle">Annonceur</div>
      </div>
    </div>
    <div id="bloc_recherche">
    <form class="d-flex input-group w-auto">
        
        <input
          name="searchReq"
          type="search"
          class="form-control"
          placeholder="Nom de la vidéo"
          aria-label="Search"
          [(ngModel)]="searchReq"
        />
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="onClic(true)"
        >
          Chercher
        </button>
      </form>
      </div>
      <button type="button" id="pub_button" class="btn btn-outline-dark" routerLink="/ad">Gérer les<br/>publicités</button>
      <button type="button" id="login_button" class="btn btn-outline-dark" (click)="dconnecter()">Se<br/>déconnecter</button>
  </nav>
</div>