.logo_name {
    color: blue;
    font-size: 50px;
    font-family: fantasy;
    padding-right: 20px;
    margin: 0px;
    cursor:pointer;
}

.block_logo {
    display: flex;
    align-items:center;
    padding: 10px;
    cursor:pointer;
}

#login_button, #pub_button {
    margin-left: auto; 
    margin-right: 0;
    /*border-radius: 50%;
    padding: 10px;*/
}

img {
    margin: 10px 10px 10px 10px;
}

nav {
    background-color: lightblue;
    vertical-align: baseline;
}

input {
    display: inline;
}

#logo_part {
    display:inline;
}

#subtitle {
    position: absolute;
    float: right;
    top: 80px;
    font-weight: bold;
}

#navigation {
    position: sticky;
}