.video_meta_container, #img_pub {
    margin: 30px;
}
.video_container {
    display: flex;
}

.under_video {
    display: block;
    gap: 10px;
}

.playlist {
    position: absolute;
    z-index: 10;
}

input {
    width: 100%;
}

.checkbox {
    width:auto;
}

#pub_avec_video {
    display: none;
    position: absolute;
    width: 700px;
    height: 400px;
    z-index: 1;
    background-color: blue;
}

#conteneur_total {
    display: flex;
    flex-wrap: wrap;
}

#recoPart {
    padding: 30px;
}

.vignette {
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

li {
    display: flex;
}

label {
    margin: 0px;
    margin-left: 10px;
}

ul {
    margin: 0px;
    padding: 0px;
}

#video_title {
    width: 700px;
}