<div id="conteneur_total">
<div id="video_part">
<div class="video_meta_container">
    <div class="video_container">
        <iframe id="video" [src]="this.sanitizer.bypassSecurityTrustResourceUrl(this.url)"
        width='700px' height='400px'>
        </iframe>
        <div id="pub_avec_video">

        </div>
    </div>
    <div class="under_video">
        <h1 id="video_title">{{this.nom}}</h1>
        <br/>
        <h3 id="video_infos">{{this.date}} - {{this.source}}</h3>
        <button type="button" class="btn btn-primary btn-sm" (click)="openTemplateSheetMenu()">Ajouter à</button>
        <h3><b>Score : </b> {{this.score}}</h3>
    </div>
</div>

<ng-template let-bottomSheetRef="bottomSheetRef" #templateBottomSheet>
    <ul>
        <li *ngFor="let playlist of playlists" (click)="modifyVideo(playlist.idp)"><input class="checkbox" id="{{playlist.idp}}_checked" type="checkbox"/><label for="{{playlist.idp}}_checked">{{playlist.nom}}</label></li>
    </ul>
    <input name="add_playlist_name" type="text" [(ngModel)]="add_playlist_name" (keyup.enter)="this.addPlaylist()"/>
</ng-template>

<div id="pub_sous_video" width="100" height ="100" (click)="goToAd()">
    <img id="img_pub" [src]="this.url_pub" 
    width='700px' height='400px'>
    <!--</img>-->
</div>
</div>
<div id="recoPart">
    <div class="vignette" *ngFor="let video of recommandations">
        <img src="{{video.vignette}}" width="200px" (click)="voirVideo(video.code, video.origine)"/>
        <div class="video_informations">
            <div id="nom" (click)="voirVideo(video.code, video.origine)"><a>{{video.nom_video}}</a></div>
            {{video.origine_long}}<br/>
            {{video.score}}<br/>
        </div>
    </div>
</div>
</div>