<div id="container">
<button class="btn btn-secondary btn-sm" (click)="creer()">Créer</button>
<button class="btn btn-secondary btn-sm" (click)="supprimer()">Supprimer</button>
<div>/</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Activé </th>
      <td mat-cell *matCellDef="let element"> <mat-checkbox [checked]="element.active"></mat-checkbox></td>
    </ng-container>
  
    <ng-container matColumnDef="periode">
      <th mat-header-cell *matHeaderCellDef> Période </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-form-field appearance="fill" disabled="true">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-hint>DD-MM-YYYY – DD-MM-YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker [(ngModel)]="element.periode"></mat-date-range-picker>
          </mat-form-field>
          
    </td>
    </ng-container>
  
    <ng-container matColumnDef="groupe">
      <th mat-header-cell *matHeaderCellDef> Groupe </th>
      <td mat-cell *matCellDef="let element"> {{element.groupe}} </td>
    </ng-container>

    <ng-container matColumnDef="clictot">
        <th mat-header-cell *matHeaderCellDef> Clics totaux </th>
        <td mat-cell *matCellDef="let element"> {{element.clictot}} </td>
      </ng-container>

    <ng-container matColumnDef="capalloc">
        <th mat-header-cell *matHeaderCellDef> Capital alloué </th>
        <td mat-cell *matCellDef="let element"> {{element.capalloc}} </td>
    </ng-container>

    <ng-container matColumnDef="capdep">
        <th mat-header-cell *matHeaderCellDef> Capital dépensé </th>
        <td mat-cell *matCellDef="let element"> {{element.capdep}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
    <tr mat-row (click)="setDisplayed(row)" (dblclick)="double_clic()" *matRowDef="let row; columns: this.displayedColumns;"></tr>
  </table>
</div>