<body>
    <div class="container">
    <h1>Changer le mot de passe</h1>
    <form action="" method="post">
        <table>
        <tr>
            <td><label>E-mail : </label></td><td><input name="champEmail" id="champEmail" type="text" [(ngModel)]="email"></td>
        </tr>
        <tr>
            <td><label>Nouveau mot de passe : </label></td><td><input name="champPassword2" id="champPassword2" type="password2" [(ngModel)]="mdp2"></td>
        </tr>
        <tr>
            <td><label>Confirmer le nouveau mot de passe : </label></td><td><input name="champConfPassword2" id="champConfPassword2" type="confPassword2" [(ngModel)]="mdp2_conf"></td>
        </tr>
        </table>
        
        <div class="buttons">
        <button (click)="changerMdp()" class="btn btn-primary btn-sm">Valider</button>
        </div>
    </form>
    <footer *ngIf="error_msg != ''">{{error_msg}}</footer>
    </div>
    </body>