label, h1 {
    font-family: fantasy;
}

body {
    padding: 10px;
    height: 100%;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    height:100%;
    width: 100%;
}

.subContainer {
    display:grid;
}

footer {
    margin-top: 10px;
    color: red;
}