<div id="page">
<form action="" post="">
    <mat-form-field appearance="fill">
        <mat-label>Type de publicité</mat-label>
        <mat-select name="type_pub" [(ngModel)]="this.type">
            <mat-option value="incr">Incrustée</mat-option>
            <mat-option value="bandeau">Bandeau</mat-option>
        </mat-select>
    </mat-form-field>
    <hr/>
    <table>
        <tr><td><mat-label>Titre de la publicité</mat-label></td>
            <td><input name="titre" matInput [(ngModel)]="titre"></td></tr>
        <tr><td><mat-label>Sous-titre de la publicité</mat-label></td>
            <td><input name="sous_titre" matInput [(ngModel)]="sous_titre"></td></tr>
        <tr><td><mat-label>URL</mat-label></td>
            <td><input name="URL" matInput [(ngModel)]="URL"></td></tr>
        <tr><td><mat-label>Tags</mat-label></td>
            <td><input name="tags" matInput [(ngModel)]="tags"></td></tr>
        <tr><td><mat-label>Période</mat-label></td><td>
                  <mat-form-field appearance="fill">
                      <mat-label>Enter a date range</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate [(ngModel)]="this.start" placeholder="Start date">
                        <input matEndDate [(ngModel)]="this.end" placeholder="End date">
                      </mat-date-range-input>
                      <mat-hint>DD-MM-YYYY – DD-MM-YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
            </td>
            </tr>
        
        <tr><td><angular-file-uploader 
            [config]="afuConfig"
            [resetUpload]=resetVar
            (fileSelected)="fileSelected($event)"
            (ApiResponse)="docUpload($event)">
      </angular-file-uploader></td></tr>
    </table>
</form>

<div id="container">
    <h3>Aperçu</h3>
    <iframe src="http://localhost:4200/watch?video_id=hy3W-3HPMWg&video_service=yt" width='1000px' height='700px'></iframe>
    <input name="boutonValider" class="btn btn-primary btn-sm" id="boutonValider" type="submit" (click)="valider()" value="Valider">
  </div>
  
</div>

