angular-file-uploader {
    margin: 0;
    padding: 0;
}

.btn {
    margin-bottom: 0px;
}

iframe {
    transform: scale(0.3);
    pointer-events: none;
    margin-top: calc(-700*0.3px);
    margin-left: calc(-1000*0.3px);
}

#page {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}

#container {
    padding: 10px;
    border-left-style: solid;
}