#container {
    border-color: blue;
    border-style: solid;
    border-width: 3px;
    width: 90%;
    margin: 30px;
    padding: 30px;
}

#bar {
    display: flex;
    align-items:center;
    height: 100px;
    padding: 10px;
    gap: 10px;
}

select {
    border-style: solid;
    border-radius: 10%;
    font-family: fantasy;
    background-color: lightblue;
}
.vignette {
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}
#nom {
    width: 200px;
}

.video_informations {
    display: inline;
}

.buttons {
    display: inline;
    float: right;
    margin-right: 10px;
}

label {
    font-weight: bold;
    color: blue;
}

#playlist_author {
    display: inline;
    margin-left: 10px;
}

#mat-form-field-wrapper {
    width: 80%;
}

.mat-form-field{
    width:350px !important;
 }
 
#bouton_droite {
    float: right;
    width: 40px;
    height: 40px;
    color: red;
    border-radius:40px;
}