<div id="container">
    <button id="bouton_droite"
    type="button"
    class="btn btn-outline-primary" (click)="deletePlaylist()">
    ✘
    </button>
    <label>Nom</label>
    <input matInput [(ngModel)]="this.nom">
    <button
    type="button"
    class="btn btn-outline-primary" (click)="renommerPlaylist()">
    Renommer
    </button>
      <br/>
    <label>Auteur</label>
    <div id="playlist_author">{{auteur}}</div>
</div>
<div id="container">
    <div class="vignette" *ngFor="let video of liste_video">
        <img src="{{video.miniature}}" width="200px" (click)="voirVideo(video.code, video.origine)"/>
        <div class="video_informations">
            <div id="nom" (click)="voirVideo(video.code, video.origine)"><a>{{video.nom}}</a></div>
            {{video.origine_long}}<br/>
            {{video.score}}<br/>
        </div>
        <div class="buttons">
            <button
            type="button"
            class="btn btn-outline-primary" (click)="actionPlaylist(video.code, video.origine, 'up')">
            ⮝
            </button>
            <button
            type="button"
            class="btn btn-outline-primary" (click)="actionPlaylist(video.code, video.origine, 'down')">
            ⮟
            </button>
            <button
            type="button"
            class="btn btn-outline-primary" (click)="actionPlaylist(video.code, video.origine, 'del')">
            ✘
            </button>
        </div>
    </div>
</div>