#container {
    border-color: blue;
    border-style: solid;
    border-width: 3px;
    width: 90%;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px;
}

#bar {
    display: flex;
    align-items:center;
    height: 100px;
    padding: 10px;
    gap: 10px;
}

select {
    border-style: solid;
    border-radius: 10%;
    font-family: fantasy;
    background-color: lightblue;
}
.vignette {
    display:inline;
    cursor: pointer;
}
#nom {
    width: 200px;
}