<div id="bar">
    <mat-form-field appearance="fill">
        <mat-label>Source</mat-label>
        <mat-select multiple (selectionChange)="loadResults()" [(value)]="type">
          <mat-option value="yt">Youtube</mat-option>
          <mat-option value="dm">Dailymotion</mat-option>
          <mat-option value="vm">Vimeo</mat-option>
        </mat-select>
      </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <mat-select (selectionChange)="loadResults()" [(value)]="date">
            <mat-option value="none">Pas de tri</mat-option>
            <mat-option value="old">La plus ancienne</mat-option>
            <mat-option value="new">La plus récente</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Vues</mat-label>
        <mat-select (selectionChange)="loadResults()" [(value)]="vues">
            <mat-option value="none">Pas de tri</mat-option>
            <mat-option value="max">Le plus de vues</mat-option>
            <mat-option value="min">Le moins de vues</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div id="container" *ngIf="liste_video[0].code != ''">
        <div class="vignette"  *ngFor="let video of liste_video">
            <img src="{{video.vignette}}" width="200px" (click)="voirVideo(video.code, video.origine)"/>
            <div id="nom" (click)="voirVideo(video.code, video.origine)"><a>{{video.nom_video}}</a></div>
            {{video.origine_long}}<br/>
            {{video.score}}<br/>
    </div>
</div>
<div class="centered" *ngIf="liste_video[0].code == ''">
    Loading...
</div>