<body>
<div class="container">
<div class="subContainer">
<h1>Se connecter</h1>
<form action="" method="post">
	<table>
	<tr>
		<td><label>Nom d'utilisateur : </label></td><td><input name="champLogin" id="champLogin" type="text" [(ngModel)]="pseudo"></td>
	</tr>
	<tr>
		<td><label>Mot de passe : </label></td><td><input name="champPassword" id="champPassword" type="password" [(ngModel)]="mdp"></td>
	</tr>
	</table>
	<div class="buttons">
	<input name="boutonEnvoyer" class="btn btn-primary btn-sm" id="boutonEnvoyer" type="submit" (click)="check()" value="Se connecter">
	<button routerLink="/changer-mdp" class="btn btn-secondary btn-sm">Mot de passe oublié ?</button>
	</div>
</form>
<footer *ngIf="error_msg != ''">{{error_msg}}</footer>
</div>
<div class="subContainer">
<h1>Créer un compte</h1>
<form action="" method="post">
	<table>
	<tr>
		<td>
			<mat-form-field appearance="fill">
				<mat-label>Type compte</mat-label>
				<mat-select name="type_compte" [(value)]="this.type">
					<mat-option value="0">Spectateur</mat-option>
					<mat-option value="1">Annonceur</mat-option>
				</mat-select>
				</mat-form-field>
		</td>
	</tr>
	<tr>
		<td><label>Nom d'utilisateur : </label></td><td><input name="champLogin2" id="champLogin2" type="text" [(ngModel)]="pseudo2"></td>
	</tr>
	<tr>
		<td><label>Mot de passe : </label></td><td><input name="champPassword2" id="champPassword2" type="password" [(ngModel)]="mdp2"></td>
	</tr>
	<tr>
        <td><label>Confirmer le mot de passe : </label></td><td><input name="champConfPassword2" id="champConfPassword2" type="password" [(ngModel)]="mdp2_conf"></td>
	</tr>
	<tr>
        <td><label>E-mail : </label></td><td><input name="champEmail" id="champEmail" type="text" [(ngModel)]="email"></td>
	</tr>
	</table>
	
	<div class="buttons">
	<button (click)="createAccount()" class="btn btn-primary btn-sm">Créer un nouveau compte</button>
	</div>
</form>
<footer *ngIf="error_msg2 != ''">{{error_msg2}}</footer>
</div>
</div>
</body>